<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="LoginController" class="com.misynss.controller.LoginController">
   	 	<property name="userManager" ref="userManager"/>
   	 	<property name="downloadPath" value="D:\\shammi\\pdf\\"/>
	</bean>
	
	<bean id="utility" class="com.misynss.common.Utility" >
    </bean>
	
	<bean id="userManager" class="com.misynss.manager.impl.UserManagerImpl">
		<property name="userDAOImpl" ref="userDAOImpl" />
	</bean>
	
	<bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    	<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    	<property name="url" value="jdbc:mysql://127.0.0.1:3306/misyn_umm_test"/>
    	<!-- property name="url" value="jdbc:mysql://192.168.0.6:3306/misynss_test"/-->
    	<property name="username" value="root"/>
    	<property name="password" value="123"/>
	</bean>
	
	<bean name="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
    	<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="userDAOImpl" class="com.misynss.dao.impl.UserDAOImpl">
	 	<property name="jdbcTemplate" ref="jdbcTemplate"/>
	 	<property name="transactionManager" ref="transactionManager"/>
	</bean>
	
	 <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
</beans>
